*{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    width: 970px;
    height: 900px;
    color: black;
    font-size: 14px;
    background-color: #d5d7e3;
    margin: auto;
}
#header{
    height: 80px;
}
#header img{
    height: 80px;
    width: 150px;
    margin-left: 10px;
}
#header h1{
    display: inline-block;
    vertical-align: bottom;
        margin-left: 290px;
        padding-bottom:15px;
}
#navbar{
    height: 30px;
    border: 2px solid black;
    margin-top: 5px;
}
#navbar ul{
    list-style-type: none;
}
#navbar li {
    display: inline;
    line-height: 28px;
    padding: 10px;
    margin-left:auto;;
    border-right: 1px solid black;


}
#navbar a{
    margin-left:40px;
    padding-right: 20px;
}
#main{
background-color: #101325;
}
#upper{
    height: 300px;
}
#upperleft{
    width: 500px;
    background-color: #bdc1d7;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;
}
#upperleft img{
    width: 465px;
    height: 250px;
    margin: 10px;
}
#upperright{
    width: 390px;
    height: 270px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #bdc1d7;
}
#upperright,#upperleft{
    display: inline-block;
    vertical-align: top;
}
#upperright h2{
    margin-bottom: 10px;
    background-color: #9196b0;
    padding-top: 5px;
    font-size: 130%;
    padding-left: 15px;
    padding-bottom: 5px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#upperright h3{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 95%;
    padding-left: 15px;
}
#upperright p{
    font-size: 95%;
    padding-left: 10px;
}
#lower{
    background-color: #101325;
    height: 460px;
    margin: auto;
    margin-top: 10px;

}
.duplicate4{
    background-color: #bdc1d7;
    width: 215px;
    display: inline-block;
    vertical-align: top;
    height: 450px;
    margin-left: 20px;
}
.img{
    height: 120px;
    background-color: white;
    width: 215px;
}
#lower h3{

    font-size: 120%;
    font-weight: bolder;
    padding: 10px;
    box-shadow: 3px 3px gray;
}

#lower h3     {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
#lower p{
    font-size: 90%;
    margin-bottom: 40px;
    padding-left: 10px;
}
button{
    margin-left: 100px;
    background-color:#27305f;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    padding-bottom: 10px;

}
button a{
    color: red;
}
button a:hover {
    color: green;
    background-color: yellow;
}
button {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
